@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    font-family: 'Poppins', sans-serif;
}
html{
    height:100vh;
    width: 100vw;
}
html, body
{
width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body{
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.head{
    justify-content: baseline;
    padding-left:1rem;
    display:flex;
    align-items: center;
   
}
.search{
    display:flex;
    justify-content: end;
    padding-right:1rem;
    align-items: center;
    
}
form{
    display:flex;
    justify-content: end;
}
form>button{
    visibility: hidden;
}
input{
    width:50%;
    height:50%;
    text-align: center;
    font-size: 2em;
    color:white;
    background-color: transparent;
    border:none;
    border: solid 4px rgb(90, 38, 38);
    border-radius: 50px;
}
input::placeholder{
    color:white;
    text-align: center;
}
input:focus{
    outline: none;
}
.head>h1{
    font-weight: 400;
    color:white;
    font-size: 4em;                             
}
.main{
    display:flex;
    justify-content: center;
    align-items: end;
}
.main>h1{
    font-size: 4em;
    font-weight: 400;
    color:white;
}


main{
    display: grid;
    grid-template-columns: 1fr ;
}

.pokemon{
    display:grid;
    grid-template-rows: 1fr 2fr;
}
.pokemon-name{
    width:70%;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display:flex;
    justify-content: center;

}
h2{
    text-transform: capitalize;
    font-size: 3rem;
    color: rgba(66, 59, 59, 0.661);
}
.pokemon-name>button{
    position: relative;
    left:50%;
}
.pokemon-image{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pokemon-image>img{
    width: 15vw;
}



