@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    font-family: 'Poppins', sans-serif;
}
html{
    height:100vh;
    width: 100vw;
}
html, body
{
width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body{
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-image: linear-gradient(to right top, #19191c, #191d20, #1a2122, #1e2421, #252721);
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
}
.head{
    padding:1rem;
    display:flex;
    align-items: center;
   
}
.search{
    display:flex;
    justify-content: end;
    padding-right:1rem;
    align-items: center;
    
}
input{
    width:50%;
    height:50%;
    font-size: 3em;
    background-color: transparent;
    border:none;
    border-bottom: solid 4px rgb(90, 38, 38);
}
input:focus{
    outline: none;
}
h1{
    font-weight: 100;
    color:rgb(90, 38, 38);
    font-size: 3em;
    padding-left: 10px;                                  
}
header img{
    
    max-width: 3rem;

}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    display:grid;
    grid-template-rows: 1fr 4fr;
}
.pokemon-name{
    display:flex;
    justify-content: center;

}
h2{
    position: relative;
    text-transform: capitalize;
    top: 100%;
    font-size: 3rem;
    color: white;
}
.pokemon-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image>img{
    width: 25vw;
    filter: drop-shadow(10px 10px 80px rgb(116, 241, 116));
}
.pokemon-stats{
}
